{% include 'mopinion/partials/head.html' %}

<body>
    {% include 'mopinion/partials/header.html' %}
    {% include 'mopinion/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content container">
            <div class="mopinion mopinion-list-item">
                <div class="mopinion-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="temporary">
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>